<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt></dt>
          <dd>
          <% if current_user && @product.quantity != 0 %>
            <%= link_to add_item_cart_path(product_id: @product.id), class: 'btn btn-primary', method: :put do %>
              <%= fa_icon "shopping-cart", text: 'Add' %>
            <% end %>
          <% end %>
          <span class="btn btn-default" id="rating">
            <%= @product.reviews.average(:rating) %> / 5
          </span>
        </dd>

        </dl>
      </div>

    <% if current_user%>
      <article>
        <h2> Add a review </h2>
        <div>
          <%= form_for [@product, @review] do |form| %>
            <div class="col-sm-8">
              <dl>
                <div>
                  <dt><%= form.label :rating %></dt>
                    <dd><%= form.number_field :rating, min: 0, max: 5, class: 'form-control rating'%></dd>
                </div>
                <div>
                  <dt><%= form.label :description %></dt>
                  <dd><%= form.text_area :description, class: 'form-control description' %></dd>
                </div>
                <dt></dt>
                <dd><%= form.submit 'Submit Review', class: 'btn btn-primary' %></dd>
              </dl>
            </div>
  
          <% end %>
        </div>
      </article>
      <% end %>
  
        <h3 class="reviews-title"> Reviews </h2>
        <div>
          <% @product.reviews.reverse_each do |info| %>
            <div class="col-sm-8">
              <dl class="dl-horizontal">
                <dt>User</dt>
                <dd><%= info.user.first_name %> <%= info.user.last_name %></dd>
                <dt>Rating</dt>
                <dd><%= info.rating %> / 5</dd>
                <dt>Description</dt>
                <dd><%= info.description %></dd>
                <% if current_user == info.user %>
                  <dt>Delete Review</dt>
                  <dd><%= link_to 'Remove', product_review_url(@product.id, info.id), method: :delete, data: { confirm: "Are you sure?" } %></dd>
                <% end %>
              </dl>
              
            </div>
          <% end %>
        </div>
    </div>

  </article>

</section>
